* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

body {
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(45,45,45,1) 10%, rgba(0,111,255,0.6979166666666667) 90%);
    scroll-behavior: smooth;
}

a {
    color: inherit;
    width: 100%;
}

.header .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.1);
}

.header .navbar ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #006fff;
}

/* SOBRE MIM */
.about-me .container .section-title h2 {
    font-size: 1.25rem;
}

.svg {
    width: 20%;
}

img {
    border-radius: 8px;
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
    box-shadow: rgba(255, 255, 255, );
}

.unimontes {
    height: auto;
    object-fit: cover;
    object-position: center;
}

.logo-empresa {
    width: 10%;
}

.logo-faculdade {
    width: 15%;
}

.bg-white {
    background-color: #fff;
    color: #222;
} 

.about-me .data .column-1 i , .column-2 i {
    margin-right: 10px;
}

.progress-bar {
    width: 100%;
}

::-webkit-progress-value  {
    background-color: #006fff;
}

.colum-2 ul li {
    list-style-type: disc;
    margin-left: 20px;
}

.all-contact #contact-info .download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 11px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.all-contact #contact-info .download-cv:hover {
    background-color: #004dff;
}



/* MEDIA-SCREEN */
@media (max-width: 1200px) {

    #about-me-text img {
        display: none;
    }

    #navbar-ul,
    #social-links {
        justify-content: center;
    } 

    #name-title, 
    #title-info {
        text-align: center;
    }

    #name-title {
        font-size: 3rem;
    }

    #title-info {
        font-size: 1.75rem;
    }
/* 
    #front-end-projects,
    #data-projects {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    } */

    #front-end-projects,
    #data-projects,
    #about-me-skills {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 1000px) {

    #front-end-curses, 
    #data-curses, 
    #front-end-formats, 
    #data-formats,
    #front-end-projects,
    #data-projects,
    #resume-columns,
    #all-contacts, 
    #universitys {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact-info {
        justify-content: start;
    }

}

@media (max-width: 860px) {
    #name-title {
        font-size: 2rem;
    }

    #title-section {
        font-size: 1.5rem;
    }

    #title-info {
        font-size: 1.25rem;
    }

    #navbar-ul {
        font-size: 1rem;

    }

    #front-end-curses, 
    #data-curses, 
    #front-end-formats, 
    #data-formats,
    #front-end-projects,
    #data-projects, 
    #all-contacts,
    #universitys {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 760px) {

    #navbar-ul {
        gap: 15px;
    }
    
    #home,
    #about,
    #resume,
    #portfolio,
    #contact {
        font-size: 14px;
    }
}

.svg {
    width: auto;
    height: 100px;
}
.svg-md {
    width: auto;
    height: 75px;
}
