* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

.header .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.header .navbar ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #006fff;
}

/* SOBRE MIM */
.about-me .container .section-title h2 {
    font-size: 1.25rem;
}

.about-me .data .column-1 i , .column-2 i {
    margin-right: 10px;
}

.name-skill, .all-curses div, .all-format div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.colum-2 ul li {
    list-style-type: disc;
    margin-left: 20px;
}

/* MEDIA-SCREEN */
@media (max-width: 1200px) {

    #navbar-ul,
    #social-links {
        justify-content: center;
    } 

    #name-title, 
    #title-info {
        text-align: center;
    }

    #name-title {
        font-size: 3rem;
    }

    #title-info {
        font-size: 1.75rem;
    }

    #front-end-curses, 
    #data-curses, 
    #front-end-formats, 
    #data-formats,
    #front-end-projects,
    #data-projects {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }


    #front-end-projects,
    #data-projects, 
    #about-me-text {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {

    #resume-columns,
    #all-contacts, 
    #universitys {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 860px) {
    #name-title {
        font-size: 2rem;
    }

    #title-section {
        font-size: 1.5rem;
    }

    #title-info {
        font-size: 1.25rem;
    }

    #navbar-ul {
        font-size: 1rem;

    }

    #front-end-curses, 
    #data-curses, 
    #front-end-formats, 
    #data-formats,
    #front-end-projects,
    #data-projects, 
    #all-contacts,
    #universitys {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 760px) {

    #navbar-ul {
        gap: 15px;
    }
    
    #home,
    #about,
    #resume,
    #portfolio,
    #contact {
        font-size: 14px;
    }
}
